@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");

#root {
    font-family: "Jost", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app__HeaderContainer {
    color: black;
    width: 100%;
    margin: 0;
    background-color: #f5f5f5;
}

.app__container {
    width: 85%;
    margin: 1% auto;
}

html {
    font-size: 3.2vmax;
}
