.events {
    background-color: #f5f5f5;
    border-radius: 0.6em;
    padding: 1em;
    padding-top: 0.2em;
}

.eventTitle {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 1rem;
}

.events__list {
    display: flex;
}
