.footer {
    background-color: #222f35;
    width: 100%;
    padding: 0 7.5%;
    min-height: fit-content;
    background: #222f35;
    margin-top: auto;
    bottom: 0;
    color: gray;
    padding-bottom: 0.5em;
}
.footer__container {
    display: flex;
    flex-direction: column;
}
.footer__logo > img {
    padding-top: 0.5rem;
    width: 1rem;
}
.footer__contents__middle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.footer__subcontainer {
    padding: 0.1em 0.2em;
    font-size: 0.4rem;
}
.footer__subcontainer > a {
    text-decoration: none;
    color: gray;
}
.footer__contents__middle__sub_Container > h4 {
    font-size: 0.5rem;
    margin-bottom: 0.3em;
}
.footer__contents__bottom {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-top: 0.5em;
}
.footer__contents__bottom > h6 {
    flex: 0.5;
    font-size: 0.35rem;
    color: white;
}
.threeContainer__box {
    display: flex;
    flex: 0.44;
    font-size: 0.48rem;
    justify-content: space-between;
}
