.header__contents {
  display: flex;
  font-size: 0.45rem;
  font-weight: bold;
  margin: 0 7.5%;
  height: 2%;
  justify-content: space-between;
}

.header {
  width: 100%;
  background-color: #f5f5f5;
}
.content__left {
  display: flex;
}

.header__logo > img {
  height: 4.4em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.flex-need {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__logo {
  /* background-color: green; */
  padding: 0.1rem;
  cursor: pointer;
}

.routeOptions {
  display: flex;
}

li {
  list-style: none;
  cursor: pointer;
  margin-left: 1rem;
  list-style: none;
}

/* .user__action {
    background-color: green;
} */

.user__action > button {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 0.5rem;
  padding: 0.1rem 0.5rem;
  cursor: pointer;
  border: 0.05rem solid rgba(128, 128, 128, 0.733);
  color: black;
  background-color: white;
  border-radius: 0.18rem;
  font-weight: bold;
}
