.homeBody {
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 0 4%;
}
.left__homebody {
    flex: 6;
    background-color: red;
}
.right__homebody {
    flex: 1;
    background-color: green;
}
